@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Oswald:wght@200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
.contact-section {
  position: relative;
  max-height: fit-content;
  padding: 30px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('/assets/background/f7.webp');
  background-position: center center;
  background-size: cover;
  box-shadow: 0px 4px 10px #5E503F;
}
.contact-section-section .content {
  text-align: center;
}
.contact-section .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #EAE0D5;
}
.contact-section .content p, .container p {
  font-weight: 500;
  color: #181717;
  text-shadow: 0px 4px 13px #C6AC8F;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
  width: 90%;
}
.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #EAE0D5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  color: #EAE0D5;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: #181717;
  text-shadow: 0px 4px 8px #C6AC8F;
}
.contactForm {
  width: 40%;
  padding: 40px;
  background: #EAE0D5;
  border-radius: 8px;
  box-shadow: 0px 4px 10px #5E503F;
}
.contactForm h2 {
  font-size: 30px;
  color: #5E503F;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  background: #EAE0D5;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #5E503F;
  outline: none;
  resize: none;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #5E503F;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
  color: #C6AC8F;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #C6AC8F;
  color: #EAE0D5;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
/*popup */
:root {
  --z-modal: 1000;
}
/* .container{
  margin-left: 1rem;
  margin-right: 1rem;
}

.modal{
  height: 100vh;
  display: grid;
  place-items: center;
} */

.modal__button{
  display: inline-block;
  background-color: #5E503F;
  color: #EAE0D5;
  padding: 1rem 1.25rem;
  border-radius: .5rem;
  transition: .3s;
  letter-spacing: 1px;
  font-size: large;
}

.modal__button:hover{
  background-color: #C6AC8F;
}

.modal__container{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5E503F;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: flex-end;
  overflow: hidden;
  transition: all .3s;
  z-index: var(--z-modal);
  visibility: hidden;
  opacity: 0;

  /*=== Effect 3 ===*/
  /* perspective: 1000px; */
}

.modal__content{
  position: relative;
  background-color: #EAE0D5;
  text-align: center;
  padding: 3rem 2rem 2rem;
  border-radius: 1rem 1rem 0 0;
  transition: all .3s;

  /*=== Effect 1 ===*/
  transform: translateY(10%);

  /*=== Effect 2 ===*/
  /* transform: scale(.5) translateY(10%); */

  /*=== Effect 3 ===*/
  /* transform: rotateX(65deg) scale(.75) translateY(10%);
  transform-origin: 50% 100%; */
}

.modal__img{
  width: 150px;
  margin-bottom: .75rem;
}

.modal__close{
  display: inline-flex;
  background-color: #EAE0D5;
  border-radius: .25rem;
  color: #181717;
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.modal__title{
  font-size: large;
  color: #181717;
  font-weight: 500;
}

.modal__description{
  margin-bottom: 1.5rem;
}

.modal__button-link{
  display: block;
  margin: 1rem auto 0;
  background-color: transparent;
  color: #181717;
  font-weight: 500;
}
/* Show modal */
.show-modal{
  visibility: visible;
  opacity: 1;
}

.show-modal .modal__content{
  /*=== Effect 1 ===*/
  /*transform: translateY(0);*/

  /*=== Effect 2 ===*/
  transform: scale(1) translateY(0);

  /*=== Effect 3 ===*/
  /*transform: rotateX(0) scale(1) translateY(0);*/
}

/* For small devices popup */
@media screen and (min-width: 576px){
  .modal__content{
    margin: auto;
    width: 380px;
    border-radius: 1.25rem;
  }

  .modal__img{
    width: 170px;
  }
}
/* responsive contact */
@media (max-width: 935px) {
  .contact-section {
    padding: 20px;
  }
  .container .contactInfo {
    margin-bottom: 20px;
  }
  .container .contactInfo,
  .contactForm {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .container {
    flex-direction: column;
    margin-top: 0px;
  }  
  .contactForm {
    padding: 15px;
  }
}