@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto:wght@100;300;400;500&display=swap');

/* 
violeta #CFBAE8 
beige #EAE0D5
beige + #C6AC8F
marron #5E503F
white #F3F7F0*/

*{
    font-family: "Roboto"; 
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    background-image: linear-gradient(to right, #EAE0D5, #C6AC8F);
    object-fit: contain;
    overflow-x:hidden;
}

/* home section */
.home{
    display: flex;
    background-size: contain;
    background-image: url(/assets/logos/logo2.png);
    background-position: center center;
    background-color: #181717;
    width: 100%;
    height: 80px;
    margin-top: -25px;
    animation: backgroundSlide 30s linear infinite;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* bar container */
.home .bar-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 70px;
    width: 100%;
    background-color: #181717;
    background-position: center center;
    background-size: cover;
}

/* nueva navbar */
.navbar {
    overflow: hidden;
    height: 65px;
}
.navbar a {
    float: left;
    display: block;
    color: #EAE0D5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
.navbar ul {
    margin: 5px 0 0 0;
    list-style: none;
}
.navbar a:hover {
    background: #C6AC8F;
    color: #5E503F;
    border-radius: 5px;
}
.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: #111;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.side-nav a {
    float:none ;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    color: #EAE0D5;
    transition: 0.3s;
}
.side-nav a:hover {
    color: #EAE0D5;
    border-bottom: 1px solid #EAE0D5;
}
.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition:margin-left 0.5s;
    overflow: hidden;
    width: 100%;
}

/* networks */
.networks {
    padding: 3px;
    cursor: pointer;
}
.home .networks a{
    float: right;
    text-decoration: none;
    background-color: #181717;
    color: #F3F7F0;
    border: 1px solid #F3F7F0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    transition: .5s;
    box-shadow: 0px 0px 4px #EAE0D5;
}
.home .networks a:hover{
    background: #C6AC8F;
    color: #5E503F;
}

/* container images */
@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }
  
  body { margin: 0; } 
  div#slider { overflow: hidden; }
  div#slider figure img { 
    width: 20%; 
    float:left; 
    height: 700px;
    object-fit: cover; 
  }
  div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    top: 70px;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
  }

/* arrow to go up */
/* .contentDiv{
  width:300px;
  height:1000px;
  background-color:#ff0000;
} */
button.back-to-top{
  margin: 0 !important;
  padding: 0 !important;
  background: #fff;
	height: 0px;
  width: 0px;
  overflow: hidden;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
  color: transparent;
	clear: both;
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  display: block;
  border: none;
  right: 50px;
	bottom: 75px;
  font-size: 0px;
  outline: 0 !important;
  z-index: 99;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus{
  outline: 0 !important;
}
button.back-to-top::before,
button.back-to-top::after {
  content: "";
    display: block;
    /* vertical-align: middle; */
    border-bottom: solid 10px #c6ac8f;
    border-left: solid 10px transparent;
    line-height: 0;
    border-right: solid 10px transparent;
    height: 0;
    margin: 18px auto 0;
    width: 0;
  border-radius:20px;
  visibility: hidden;
}
button.back-to-top.show::after,
button.back-to-top.show::before{
  visibility: visible;
}
button.back-to-top::after {
  border-bottom-color:#eae0d5;
      position: relative;
  top:-24px;
}
button.back-to-top.show {
  display: block;
  background: #eae0d5;
  color: #f3f7f0;
  font-size: 25px;
  right: 25px;
	bottom: 50px;
  height: 50px;
  width: 50px;
  visibility: visible;
	box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
button.back-to-top.show:active {
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

/* ABOUT US SECTION */
.title-section {
    position: relative;
    font-family: "DM Serif";
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    color: #EAE0D5;
    margin-left: 10px;
    text-align: start;
    text-shadow: 0 0 3px #5E503F;
    padding: 10px;
}
.aboutus{
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 20x;
    box-shadow: 0px 2px 3px #5E503F;
    border-radius: 8px;
    text-align: center;
    width: 100%;
}
.aboutus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}
.aboutus .content-section{
  max-width: 95%;
  margin: auto;
  padding: 5px 5px 5px 5px;
}
#content-about{
  background-image: linear-gradient(to bottom, #181717, #5E503F); 
  /* background-color: #5E503F;    */
  filter: brightness(120%);
  padding: 0.5rem;
  border-radius: 5px;
}
.aboutus .content-section .special{
  color: #EAE0D5;
  font-weight: 300;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 1.5px;
}
.aboutus .content-section li {
  text-align: left;
  color: #EAE0D5;
  font-weight: 300;
  margin: 10px;
  border-radius: 10px;
  letter-spacing: 1.5px;
}
.aboutus .content-section p{
    margin: 1rem;
    color: #EAE0D5;
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}
/* team gallery */
.aboutus h3 {
    /* font-family: 'DM Serif'; */
    color: #EAE0D5;
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 0.1rem;
    font-weight: normal;
    padding: 5px;
}
#our-team{
  color: #5E503F;
}
.cards-container{
	display: flex;
	justify-content: center;
	perspective: 1000px;
	width: 100%;
}
.cards-container:hover .card {
	transform: rotateY(30deg);
}
.card {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
  filter: brightness(120%);
	border-radius: 5px;
	box-shadow: 0px 3px 7px #5E503F;
	margin: 10px;
	height: 280px;
	transition: transform 0.2s ease-in-out;
	width: 200px;
	min-width: 100px;
}
.card:hover {
	transform: rotateY(0deg) !important;
}
.card:hover ~ .card {
	transform: rotateY(-30deg);
}
.card:nth-of-type(1) {
	background-image: url('./assets/family-pics/foto\ fliar.webp');
}
.card:nth-of-type(2) {
	background-image: url('./assets/family-pics/12\ \(1\).webp');
}
.card:nth-of-type(3) {
	background-image: url('./assets/family-pics/beer.webp');
}
.card:nth-of-type(4) {
	background-image: url('./assets/family-pics/foodtruck.webp');
}
.card:nth-of-type(5) {
	background-image: url('./assets/family-pics/20.webp');
}
/* made with love section*/
.aboutus .content-section .row{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.aboutus .content-section .row .col{
    width: 30%;
    margin-top: 20px;
    /* background-color: #5E503F; */
    filter: brightness(120%);
    padding: 0.5rem;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #181717, #5E503F);
    /* text-align: center; */
}
.aboutus .content-section .row .col i{
    color: #EAE0D5;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #EAE0D5;
    line-height: 40px;
    border-radius: 50%;
}
.aboutus .content-section .row .col span{
    display: block;
    font-weight: semi-bold;
    margin: 8px 0;
    text-transform: uppercase;
}
  
/* services-info */
#services-info  {
    width: 100%;
    height: 2500px;
    max-height: fit-content;
    /* max-height: 100vh; */ 
}
#contact-info{
    width: 100%;
    height: 620px;
    max-height: fit-content;
}
#footer{
    width: 100%;
    height: 100px;
    max-height: fit-content;
}

/* arrow */
/* scroll arrow */
.title-ico {
    display: block;
    padding: 5px;
    color: #5E503F;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 1.5px;
    font-family: 'DM Serif';
    font-size: 2rem;
}
.ico {
    margin: 50px auto;
    text-align: center;
    width: 80px;
    height: 80px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    -webkit-filter: url("#goo");
      filter: url("#goo");
  }
  .ico .circle {
    background: #C6AC8F;
    border-radius: 50%;
    display: inline-block;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    -webkit-transform-origin: 0%;
            transform-origin: 0%;
  }
  .ico .circle.circle-top {
    height: 33.3333333333px;
    width: 41.6666666667px;
    -webkit-animation: blob-1-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
            animation: blob-1-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    z-index: 0;
    top: 0;
  }
  .ico .circle.circle-bottom {
    height: 33.3333333333px;
    width: 41.6666666667px;
    -webkit-animation: blob-2-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
            animation: blob-2-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    z-index: 9;
    bottom: 0px;
  }
  .ico .st-arrow {
    fill: #EAE0D5;
    -webkit-animation: scrolly 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite;
            animation: scrolly 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite;
    -webkit-perspective: 9000px;
            perspective: 9000px;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  .svg {
    z-index: 9;
    position: relative;
  }
  @-webkit-keyframes blob-1-anim {
    0% {
      -webkit-transform: translateX(-50%) translateY(0);
              transform: translateX(-50%) translateY(0);
    }
    14% {
      -webkit-transform: translateX(-50%) translateY(-8px);
              transform: translateX(-50%) translateY(-8px);
    }
    24% {
      -webkit-transform: translateX(-50%) translateY(0);
              transform: translateX(-50%) translateY(0);
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(0);
              transform: translateX(-50%) translateY(0);
    }
  }
  
  @keyframes blob-1-anim {
    0% {
      -webkit-transform: translateX(-50%) translateY(0);
              transform: translateX(-50%) translateY(0);
    }
    14% {
      -webkit-transform: translateX(-50%) translateY(-8px);
              transform: translateX(-50%) translateY(-8px);
    }
    24% {
      -webkit-transform: translateX(-50%) translateY(0);
              transform: translateX(-50%) translateY(0);
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(0);
              transform: translateX(-50%) translateY(0);
    }
  }
  @-webkit-keyframes blob-2-anim {
    0% {
      -webkit-transform: scale(1) translate(-50%, 10px);
              transform: scale(1) translate(-50%, 10px);
    }
    30% {
      -webkit-transform: scale(1) translate(-50%, 10px);
              transform: scale(1) translate(-50%, 10px);
    }
    70% {
      -webkit-transform: scale(1) translate(-50%, 10px);
              transform: scale(1) translate(-50%, 10px);
    }
    95% {
      -webkit-transform: scale(1) translate(-50%, 26px);
              transform: scale(1) translate(-50%, 26px);
    }
    100% {
      -webkit-transform: scale(1) translate(-50%, 10px);
              transform: scale(1) translate(-50%, 10px);
    }
  }
  @keyframes blob-2-anim {
    0% {
      -webkit-transform: scale(1) translate(-50%, 10px);
              transform: scale(1) translate(-50%, 10px);
    }
    30% {
      -webkit-transform: scale(1) translate(-50%, 10px);
              transform: scale(1) translate(-50%, 10px);
    }
    70% {
      -webkit-transform: scale(1) translate(-50%, 10px);
              transform: scale(1) translate(-50%, 10px);
    }
    95% {
      -webkit-transform: scale(1) translate(-50%, 26px);
              transform: scale(1) translate(-50%, 26px);
    }
    100% {
      -webkit-transform: scale(1) translate(-50%, 10px);
              transform: scale(1) translate(-50%, 10px);
    }
  }
  @-webkit-keyframes scrolly {
    0% {
      -webkit-transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
              transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
    }
    30% {
      -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
              transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
    }
    70% {
      -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
              transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
    }
    95% {
      -webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
              transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
    }
    100% {
      -webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
              transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
    }
  }
  @keyframes scrolly {
    0% {
      -webkit-transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
              transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
    }
    30% {
      -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
              transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
    }
    70% {
      -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
              transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
    }
    95% {
      -webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
              transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
    }
    100% {
      -webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
              transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
    }
  }

  /* customer texts */
  .content-section {
    padding: 5px;
    margin-bottom: 5%;
    margin-top: 5%;
}
#our-costumers{
    font-family: 'DM Serif';
    color: #5E503F;
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
.texts-container{
	display: flex;
	align-items: center;
  justify-content: center;
	perspective: 1000px;
	width: 100%;
}
.texts-container:hover .texts {
	transform: rotateY(30deg);
}
.texts {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin: 10px;
	height: 200px;
	transition: transform 0.2s ease-in-out;
	width: 180px;
	min-width: 100px;
}
.texts:hover {
	transform: rotateY(0deg) !important;
}
.texts:hover ~ .texts {
	transform: rotateY(-30deg);
}
.texts:nth-of-type(1) {
	background-image: url('./assets/texts/1.webp');
}
.texts:nth-of-type(2) {
	background-image: url('./assets/texts/2.webp');
}
.texts:nth-of-type(3) {
	background-image: url('./assets/texts/3.webp');
}
.texts:nth-of-type(4) {
	background-image: url('./assets/texts/4.webp');
}
.texts:nth-of-type(5) {
	background-image: url('./assets/texts/5.webp');
}
.texts:nth-of-type(6) {
	background-image: url('./assets/texts/6.webp');
}
.texts:nth-of-type(7) {
	background-image: url('./assets/texts/7.webp');
}
/* RESPONSIVE SECTION */
@media(max-width: 730px) {
    .navbar ul {
        display: none;

    }
}
@media(min-width: 730px) {
    .open-slide {
        display: none;
    }
}
@media screen and (max-width:800px){
    .aboutus .content-section .row {
        display: block;
    }
    .aboutus .content-section .row .col {
        width: 100%;
        margin: auto;
        margin-top: 20px;
    } 


/* team gallery responsive - customer texts responsive*/
@media screen and (max-width: 1000px) {
	.texts:nth-of-type(4) , .texts:nth-of-type(5) , .texts:nth-of-type(3){
		display: none;
	}
}
@media screen and (max-width: 756px) {
	.card:nth-of-type(4), .card:nth-of-type(5), .texts:nth-of-type(4) , .texts:nth-of-type(5) , .texts:nth-of-type(3), .texts:nth-of-type(6) {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	.card:nth-of-type(3), .texts:nth-of-type(3) , .texts:nth-of-type(6), .texts:nth-of-type(5), .texts:nth-of-type(4), .texts:nth-of-type(7) {
		display: none;
	}
}
@media screen and (max-width: 390px) {
	.card:nth-of-type(3), .card:nth-of-type(2), .texts:nth-of-type(3), .texts:nth-of-type(2) {
		display: none;
	}
}

/* responsive iframes (footer/services/productionsgallery/contact)*/
@media screen and (min-width:1265px) {
  #footer {
    height: 140px;
  }
  #services-info  {
    height: 2900px;
    }
}
@media screen and (max-width:1264px) {
  #footer  {
    height: 150px;
    }
    #services-info  {
      height: 3500px;
      }
}
@media screen and (max-width:976px) {
  #services-info  {
    height: 3600px;
    }
}
@media screen and (max-width:768px) {
  #services-info  {
    height: 4600px;
    }
  #contact-info {
    height: 700px;
  }
}
@media screen and (max-width: 650px) {
  #contact-info {
    height: 920px;
  }
}
@media screen and (max-width: 610px) { 
  #services-info  {
    height: 4800px;
  }
}
@media screen and (max-width: 512px) { 
  #services-info  {
    height: 8200px;
  }
}
@media screen and (max-width: 438px) { 
  #footer{
    height: 180px;
  }
  #services-info  {
    height: 8300px;
  }
  #contact-info {
    height: 950px;
  }
}
@media screen and (max-width: 394px) {
  #services-info  {
    height: 8400px;
  }
}
@media screen and (max-width: 358px) {
  #contact-info{
    height: 1100px;
  }
  #services-info  {
    height: 8600px;
  }
}
@media screen and (max-width: 292px) {
  #services-info  {
    height: 8700px;
  }
}
@media screen and (max-width: 250px) {
  #services-info  {
    height: 8900px;
  }
}

/* animation home logo */
@keyframes backgroundSlide {
  from {
      background-position: 0 0; 
  }
  to {
      background-position: -100% 0; 
  }
}

  /* LOADING */
  /* loading */
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}
/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* welcome words */
/* .home-animation {
    font-family: "Oswald";
	font-weight: 400;
	text-align: center;
    justify-content: center;
}
.animated-words {
	position: relative;
    color: #5E503F;
    font-size: 1.6rem;
    letter-spacing: 1.2px;
    text-shadow: 0 0 40px #5E503F;
    line-height: 2;
    margin-top: 50px;
}
.animated-words .animated {
	opacity: 0;
	position: absolute;
	width: 100%;
	text-align: center;
    animation: animateme ease-in-out 2;
}
.animated-words .item1 {
	animation-name: animateme;
	animation-duration: 10s;
	animation-delay: -7s;
}
.animated-words .item2 {
	animation-name: animateme;
	animation-duration: 10s;
	animation-delay: -4.8s;
}
.animated-words .item3 {
	animation-name: animateme;
	animation-duration: 10s;
	animation-delay: -2.6s;
}
.animated-words .item4 {
	animation-name: animateme;
	animation-duration: 10s;
	animation-delay: 0s;
} */
/* welcome words animations */
/* @keyframes animateme {
	0%   {top: 140px; opacity: 0;}
	5%  {top: 105px; opacity: 0.10;}
	22%  {top: 105px; opacity: 0.10;}
	27%  {top: 70px; opacity: 0.3;}
	44%  {top: 70px; opacity: 0.3;}
	49%  {top: 35px; opacity: 0.45;}
	66%  {top: 35px; opacity: 0.75;}
	71%  {top: 0; opacity: 1;}
	88%  {top: 0; opacity: 1;}
  89%  {top: 0; opacity: 0;}
} */







