/*import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');

/* colores negro #0a0908
axul #22333B 
beige #EAE0D5
beige + #C6AC8F
marron #5E503F
white #F3F7F0*/

*{
    font-family: "Oswald";
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    background-color: #EAE0D5;
}
body{
  margin: 0;
  overflow-x:hidden;
}

/* home section */
.home{
    display: flex;
    background-size: contain;
    background-image: url(/assets/logos/logo2.png);
    background-position: center center;
    background-color: #181717;
    width: 100%;
    height: 80px;
    margin-top: -15px;
    animation: backgroundSlide 20s linear infinite;
    padding: 5px;
    opacity: 0.90;
}

/* lateral menu */
.home .home-content header{
    margin-top: 55px;
    position: fixed;
    margin-left: 10px;
}
.home .home-content header .nav{
    position: fixed;
    margin-left: 45px;
    background-color: #181717;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 5;
    display: none;
    box-shadow: 0px 4px 10px #5E503F;
}
.home .home-content header .nav a{
    display: block;
    color: #F3F7F0;
    padding: 2px;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 1px;
}
.home .home-content header .nav-bar{
    position: fixed;
    margin-top: 30px;
    color: #F3F7F0;
    background-color: #181717;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 37px;
    cursor: pointer;
    transition: .5s;
    z-index: 1;
    text-align:center;
    box-shadow: 0px 0px 7px #F3F7F0;
    border: 1px solid #F3F7F0;
}
.home .home-content header .nav-bar:hover{
    background-color: #C6AC8F;
    box-shadow: 0 0 20px #5E503F;
}

/* bar container */
.home .bar-container{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    left: 0px;
    top: 70px;
    width: 100%;
    background-image: url(./assets/1-stephen-johnson-Q8_-Cc-IXRY-unsplash\ \(1\).jpg);
    background-size: cover;
    z-index: -1;
    box-shadow: 0px 0px 7px #EAE0D5;
}
.home .networks {
    padding: 10px;
}
.home .networks a{
    text-align:center;
    display: inline-block;
    text-decoration: none;
    background-color: #181717;
    color: #F3F7F0;
    border: 1px solid #F3F7F0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 37px;
    margin: 0 5px;
    transition: .5s;
    box-shadow: 0px 0px 7px #F3F7F0;
}
.home .networks a:hover{
    background-color: #C6AC8F;
    box-shadow: 0 0 20px #5E503F;
}
.home .info h1{
    font-size: 1.5rem;
    padding: 10px;
    font-family: "Oswald";
    text-shadow: 0 0 55px #8C5E58;
    font-weight: 400;
    text-shadow: 0px 0px 7px #181717;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #F3F7F0;
}

/* welcome words */
/* .home-animation {
    font-family: "Oswald";
	font-weight: 400;
	text-align: center;
    justify-content: center;
}
.animated-words {
	position: relative;
    color: #5E503F;
    font-size: 1.6rem;
    letter-spacing: 1.2px;
    text-shadow: 0 0 40px #5E503F;
    line-height: 2;
    margin-top: 50px;
}
.animated-words .animated {
	opacity: 0;
	position: absolute;
	width: 100%;
	text-align: center;
    animation: animateme ease-in-out 2;
}
.animated-words .item1 {
	animation-name: animateme;
	animation-duration: 10s;
	animation-delay: -7s;
}
.animated-words .item2 {
	animation-name: animateme;
	animation-duration: 10s;
	animation-delay: -4.8s;
}
.animated-words .item3 {
	animation-name: animateme;
	animation-duration: 10s;
	animation-delay: -2.6s;
}
.animated-words .item4 {
	animation-name: animateme;
	animation-duration: 10s;
	animation-delay: 0s;
} */

/* lounges gallery */
.lounges-gallery {
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    background-image: linear-gradient(to right, #181717, #C6AC8F);  
    width: 97%;
    margin: 20px;
    margin-top: 70px;
    border-radius: 8px;
}
.lounges-gallery .special {
    width: 25%;
    padding: 10px;
}
    figcaption { 
    margin: 0; 
    font-weight: 300;
    text-transform: uppercase;
}
div#captioned-gallery { 
  width: 75%; 
  overflow: hidden; 
}
figure.slider { 
  position: relative; 
  width: 500%;
  font-size: 0; 
  animation: 35s slidy infinite;
}
figure.slider figure.lounge-img { 
  width: 20%; 
  height: auto;
  display: inline-block;  
  position: inherit; 
}
figure.slider .lounge-img img { 
  width: 100%; 
  height: 380px; 
  object-fit: cover;
  border-radius: 8px; 
}
figure.slider figure.lounge-img figcaption { 
  position: absolute; 
  bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #F3F7F0; 
  width: 100%;
  font-size: 2rem; 
  padding: .6rem;  
}

/* ABOUT US SECTION */
.title-section{
    position: relative;
    font-family: "Oswald";
    font-weight: 300;
    font-size: 1.5rem;
    color: #EAE0D5;
    margin-left: 10px;
    text-align: start;
}
.aboutus{
  position: relative;
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px #5E503F;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    z-index: -1; 
}
.aboutus::before {
  content: "";
  background-image: url(./assets/1-stephen-johnson-Q8_-Cc-IXRY-unsplash\ \(1\).jpg);
  background-size: cover;
  filter: brightness(40%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}
.aboutus .content-section{
  max-width: 95%;
  margin: auto;
  padding: 5px 5px 5px 5px;
}
.aboutus .content-section h3{
  margin-top: 20px;
  text-shadow: 0 0 30px #C6AC8F;
  text-transform: uppercase;
  font-size: 27px;
}
.aboutus .content-section .special, .lounges-gallery .special{
  color: #EAE0D5;
  font-weight: 400;
  margin: 10px;
  border-radius: 10px;
  /* text-transform: uppercase; */
  text-align: center;
  letter-spacing: 1px;
}
.aboutus .content-section p, .lounges-gallery p{
    max-width: 700px;
    margin: auto;
    color: #EAE0D5;
    text-shadow: 0px 0px 30px #181717;
    letter-spacing: 1px;
    font-weight: 300;
}

/* team gallery */
.cards-container {
	display: flex;
	justify-content: center;
	perspective: 1000px;
	width: 100%;
}
.cards-container:hover .card {
	transform: rotateY(30deg);
}
.card {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-radius: 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	margin: 10px;
	height: 280px;
	transition: transform 0.2s ease-in-out;
	width: 200px;
	min-width: 100px;
}

.card:hover {
	transform: rotateY(0deg) !important;
}

.card:hover ~ .card {
	transform: rotateY(-30deg);
}

.card:nth-of-type(1) {
	background-image: url('./assets/family-pics/foto\ fliar.webp');
}

.card:nth-of-type(2) {
	background-image: url('./assets/family-pics/20.webp');
}

.card:nth-of-type(3) {
	background-image: url('./assets/family-pics/beer\ 1.webp');
}

.card:nth-of-type(4) {
	background-image: url('./assets/family-pics/foodtruck.jpeg');
}

.card:nth-of-type(5) {
	background-image: url('./assets/family-pics/12\ \(1\).webp');
}

@media screen and (max-width: 756px) {
	.card:nth-of-type(4), .card:nth-of-type(5) {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	.card:nth-of-type(3) {
		display: none;
	}
}
@media screen and (max-width: 390px) {
	.card:nth-of-type(3), .card:nth-of-type(2) {
		display: none;
	}
}

/* made with love section*/
.aboutus .content-section .row{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.aboutus .content-section .row .col{
    width: 30%;
    margin-top: 20px;
}
.aboutus .content-section .row .col i{
    color: #EAE0D5;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #EAE0D5;
    line-height: 40px;
    border-radius: 50%;
}
.aboutus .content-section .row .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}


/*  gallery SECTION */
/* .prod-gallery{
    background-color: #E7AD99;
    padding: 140px 0 100px 0;
    text-align: center;
}
.prod-gallery .content-section{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.prod-gallery .content-section h3{
    text-transform: uppercase;
    font-size: 25px;
}
.prod-gallery .content-section .info{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.prod-gallery .content-section .info .col{
    width: 40%;
}
.prod-gallery .content-section .info .col .title{
    display: block;
    color: #495867;
    font-weight: bold;
    border: 2px solid #495867;
    padding: 10px;
    text-align: center;
}
.prod-gallery .content-section .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}
.prod-gallery .content-section .info .col table .data{
    width: 40%;
    border-bottom: 1px solid #495867;
}
.prod-gallery .content-section .info .col table h4{
    margin-top: 10px;
}
.prod-gallery .content-section .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}
.prod-gallery .content-section .info .col table p{
    font-size: 14px;
}
.prod-gallery .content-section .info .col table .description{
    border-left: 1px solid #495867;
    padding: 20px;
} */

/* FOOTER */
.footer{
  background:#181717;
  padding:30px 0px;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }
  
/* RESPONSIVE SECTION */

@media screen and (max-width:800px){
    .aboutus .content-section .row {
        display: block;
    }
    .aboutus .content-section .row .col {
        width: 100%;
        margin: auto;
        margin-top: 20px;
    } 
}

/* animation home logo */
@keyframes backgroundSlide {
    from {
        background-position: 0 0; 
    }
    to {
        background-position: -100% 0; 
    }
}

/* lounge gallery */
@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }

/* welcome words animations */
/* @keyframes animateme {
	0%   {top: 140px; opacity: 0;}
	5%  {top: 105px; opacity: 0.10;}
	22%  {top: 105px; opacity: 0.10;}
	27%  {top: 70px; opacity: 0.3;}
	44%  {top: 70px; opacity: 0.3;}
	49%  {top: 35px; opacity: 0.45;}
	66%  {top: 35px; opacity: 0.75;}
	71%  {top: 0; opacity: 1;}
	88%  {top: 0; opacity: 1;}
  89%  {top: 0; opacity: 0;}
} */






















